@page "/createorder"

<ErrorBoundary @ref="errorBoundaryRef">
    <ChildContent>
        <CreateOrderComponent Order="ViewModel"/>
    </ChildContent>
    <ErrorContent>
        <ExceptionComponent Exception="context"/>
        <button class="btn btn-danger" @onclick=Recover>
            @CommonMessages.OK
        </button>
    </ErrorContent>
</ErrorBoundary>


